.App {
  text-align: center;
}

.SpaceSection{
  margin: 100;
}

.App-link {
  color: #61dafb;
}

.EventView{
min-height: 60vh;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}